body {
    background: linear-gradient(135deg, #ffb3b3, #ff6666);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    color: #000000;
}

.container {
    position: relative;
    z-index: 10;
}

@keyframes moveBlob {
    0% { transform: translateY(0) translateX(0); }
    50% { transform: translateY(30px) translateX(30px); }
    100% { transform: translateY(0) translateX(0); }
}

.blob {
    position: absolute;
    width: 150px;
    height: 150px;
    background: rgba(255, 102, 102, 0.6);
    border-radius: 50%;
    filter: blur(100px);
    animation: moveBlob 20s infinite;
}

.blob:nth-child(1) { top: 10%; left: 10%; animation-delay: 0s; }
.blob:nth-child(2) { top: 50%; left: 75%; background: rgb(226, 154, 154); animation-delay: 5s; }
.blob:nth-child(3) { top: 75%; left: 25%; background: rgb(222, 138, 138); animation-delay: 10s; }

.footer {
    background-color: transparent;
    color: #f8f9fa; /* Light footer text */
    margin-top: auto;
}

.btn-animated {
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    background-color: #ff6666; /* Button in matching red */
    color: #f8f9fa; /* Light button text */
}

.btn-animated:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #e63946; /* Darker red on hover */
}

.rounded-img {
    border-radius: 1rem;
}

.navbar {
    background-color: transparent;
}

.navbar img {
    height: 40px;
    margin-right: 10px;
}

.navbar button {
    color: #f8f9fa; /* Light button text */
}

.navbar-link {
    position: relative;
    color: #f8f9fa; /* Light navbar links */
    text-decoration: none;
    display: inline-block;
}

.navbar-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #f8f9fa; /* Light underline */
    transition: width 0.3s ease;
}

.navbar-link:hover::after {
    width: 100%;
}

#mobileMenu { 
    overflow: hidden; 
    max-height: 0; 
    transition: max-height 0.7s ease-out; 
}

#mobileMenu.show { 
    max-height: 500px; 
    transition: max-height 0.7s ease-in; 
}

.mobile-menu-item { 
    padding: 0.5rem 1rem; 
    color: white; 
}

.navbar button {
    color: #f8f9fa;
}

.text-white-custom {
    color: #f8f9fa;
}

.draft-label {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #4A4A4A; /* Dark gray */
    color: #FFFFFF;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    border-radius: 0 0 0 0.375rem;
    z-index: 10;
}

.content-text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.content-text.expand {
    max-height: 1000px;
}

.content-text.hidden {
    max-height: 0;
}

.toggle-icon {
    font-size: 18px;
    transition: transform 0.3s ease;
}

.toggle-icon.closed {
    transform: rotate(90deg);
}

.toggle-icon.open {
    transform: rotate(0deg);
}
