{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto px-4 py-6 animate__animated animate__fadeInUp">
    <div class="bg-white p-6 rounded-lg shadow-lg">
        <h1 class="text-3xl font-bold mb-4 text-center text-black">About Us</h1>
        <p class="text-lg mb-6 text-center text-black">We are dedicated to advancing the field of CLIP optimization. Our team is composed of experts and innovators who strive to push the boundaries of what's possible with theoretically-sound and empirically-tested algorithms.</p>

        <!-- team section -->
        <section class="mb-6">
            <h2 class="text-2xl font-semibold mb-2 text-black">Our Team</h2>
            <p class="mb-4 text-black">We are a diverse group of researchers and practitioners with a shared passion for optimization and machine learning. Here are some of our key team members:</p>
            <ul class="list-disc pl-5 mb-4 text-black">
                <li><strong>Dr. Tianbao Yang:</strong> Advisor and Originator of the MaxCLIP Competition</li>
                <li><strong>Ori Yonay:</strong> Site Maintenance and Evaluation Lead</li>
                <li><strong>Xiyuan Wei:</strong> Site Maintenance and Evaluation Lead</li>
            </ul>
        </section>
        

        <!-- mission statement -->
        <section>
            <h2 class="text-2xl font-semibold mb-2 text-black">Our Mission</h2>
            <p class="mb-4 text-black">Our mission is to create innovative solutions that drive the future of CLIP models. We aim to foster a collaborative environment that encourages groundbreaking research and development.</p>
        </section>
    </div>
</div>
{% endblock %}
