<nav class="navbar animate__animated animate__fadeInDown">
    <div class="container mx-auto px-4 py-2 flex justify-between items-center">
        <a class="brand-text text-2xl font-bold text-white-custom flex items-center" href="/">
            <img src="{{ url_for('static', filename='logo_transparent.png') }}" alt="" class="h-10 mr-2"> MaxCLIP
        </a>        
        <div class="hidden lg:flex space-x-4">
            <a class="navbar-link" href="{{ url_for('home') }}">Home</a>
            <a class="navbar-link" href="{{ url_for('competition') }}">Competition</a>
            <a class="navbar-link" href="{{ url_for('leaderboard') }}">Leaderboard</a>
            <a class="navbar-link" href="{{ url_for('participate') }}">Participate</a>
            <a class="navbar-link" href="{{ url_for('about') }}">About</a>
            <a class="navbar-link" href="{{ url_for('contact') }}">Contact</a>
        </div>
        <button class="lg:hidden" id="navbarToggle">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
            </svg>
        </button>
    </div>
    <div id="mobileMenu" class="lg:hidden flex flex-col mt-4 space-y-2">
        <a class="mobile-menu-item" href="{{ url_for('home') }}">Home</a>
        <a class="mobile-menu-item" href="{{ url_for('competition') }}">Competition</a>
        <a class="mobile-menu-item" href="{{ url_for('leaderboard') }}">Leaderboard</a>
        <a class="mobile-menu-item" href="{{ url_for('participate') }}">Participate</a>
        <a class="mobile-menu-item" href="{{ url_for('about') }}">About</a>
        <a class="mobile-menu-item" href="{{ url_for('contact') }}">Contact</a>
    </div>
</nav>
